.inputBox{
    height: 81px;
    display: flex;
    gap: 23px;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    input{
        color: var(--grey-0);
        font-family: var(--font-family);
        font-size: 1.0152rem;
        font-weight: 400;
        border: 1px solid var(--grey-0);
        border-radius: 8px;
        background: var(--grey-2);
        display: flex;
        width: 100%;
        padding: 0px 16.243px;
        align-items: center;
        gap: 10.152px;
        height: 3rem;
        &:hover{
            background: var(--grey-2);
            border: 1px solid var(--grey-0);
        }
    }
}
