.label{
    color: var(--grey-0);
    font-family: var(--font-family);
    font-size: 0.7614rem;
    font-weight: 400;
    line-height: 0px; 
}

.tipograph{
    font-family: var(--font-family);
    &.pLogin{
        color: var(--grey-1);
        font-size: 0.75rem;
        font-weight: 600;
        line-height: 18px; 
    }
    &.titleLogin{
        color: var(--grey-0);
        font-size: 1.125rem;
        font-weight: 700;
        line-height: 28px; 
    }
    &.titleDashboard{
        color: var(--grey-0);
        font-size: 1.125rem;
        font-weight: 700;
        line-height: 28px; 
    }
    &.textDashboard{
        color: #FFF;
        font-size: 1rem;
        font-weight: 400;
        line-height: 24.364px
    }
    &.titleTech{
        color: #FFF;
        font-size: 0.8881rem;
        font-weight: 700;
        line-height: 22.334px; 
    }
    &.titleStatus{
        color: var(--grey-1, #868E96);
        font-size: 0.7614rem;
        font-weight: 400;
        line-height: 22.334px;
    }
    &.modaltitle{
        color: var(--grey-0);
        font-size: 0.875rem;
        font-weight: 700;
        line-height: 24px
    }

}


