.Icon{
    color: var(--grey-0);
    width: 15px;
    height: 15px;
}

.card{
    width: 100%;
    height: auto;
    border-radius: 4px;
    background-color: var(--grey-4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px;
    flex-wrap: wrap
}

.divInfo{
    display: flex;
    gap: 10px;
}
.divIcons{
    display: flex;
    gap: 5px;
}

@media(max-width: 370px){
    .card{
        align-items: flex-start;
        flex-direction: column;
    }
    .divInfo{
        display: flex;
        gap: 2px;
        align-items: center;
        width: 100%;
        flex-direction: row;
        justify-content: space-between
    }
    .divIcons{
        display: flex;
        gap: 13px;
    }
}