.main{
    max-width: 1600px;
}

.FormLogin{
    width: 100%;
    max-width: 334px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: var(--grey-3);
    height: 535px;
    padding: 10px;
}
.divButton{
    width: 100%;
    padding: 28px;
}