.main{
    max-width: 1600px;
}

.FormLogin{
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    background: var(--grey-3);
    height: 502px;
    padding: 11px;
    align-content: center;
    align-items: center;
}
.divButton{
    width: 100%;
    padding: 28px;
}