

.inputPassword{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
}


.icon{
    color: var(--grey-1);
}
.buttonHidden{
    cursor: pointer;
    background: transparent;
    border: none;
    position: relative;
    right: 13px;
    bottom: 30px;
}