.input{
    width: 329.929px;
    height: 48px;
    padding: 0px 16.243px;
    align-items: center;
    gap: 10.152px;
    flex-shrink: 0;
}


.inputPassword{
    color: var(--grey-0);
        font-family: var(--font-family);
        font-size: 1.0152rem;
        font-weight: 400;
        line-height: 26.394px;
        border: 1px solid var(--grey-0);
        border-radius: 8px;
        background: var(--grey-2);
        display: flex;
        width: 100%;
        max-width: 311px;
        padding: 0px 16.243px;
        align-items: center;
        gap: 10.152px;
        height: 48px;
}

.inputReset{
    border: 0;
    background: transparent;
}