.mainn{
    width: 100%;
    max-width: 1440px;
}

.divError{
    width: 80%;
    max-width: 545px;
    margin: 0 auto;
    height: auto;
    padding: 30px;
}

.divImg{
    width: 100%;
}

.messagerror{
    color: var(--grey-0);
    font-size: 1.875rem;
    font-family: var (--font-family);
}

